@mixin font-design ($font-width, $font-height, $font-family, $font-weight, $font-style, $font-size, $color, $line-height, $letter-spacing) {
    width: $font-width;
    height: $font-height;
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-size: $font-size;
    color: $color;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

@mixin main-block ($main-width, $main-height ) {
    width: $main-width;
    height: $main-height;
}

@mixin flexbox ($main-width, $main-height, $display, $flex-direction, $flex-wrap, $justify-content, $align-items, $gap) {
    width: $main-width;
    height: $main-height;
    display: $display;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}
